*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
nav{
    background: #000;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 8px 12px;
}

nav ul li a:hover,
nav ul li a.active{
    background: orange;
    border-radius: 5px;
}

.hero{
    width: 100%;
    height: 400px; 
    background-image: url('hero.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.text-box{
    color: white;
    max-width: 450px;
}

.text-box h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.text-box p{
    margin-bottom: 20px;
    font-size: 16px;
}

button{
    padding: 10px 18px;
    border: none;
    background: orange;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}